*{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #395b41;
}
#Medoc , #Entree , #Achats  ,#Acceuil{
    
    background-color: darkblue;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px  10px 0px 0px;
    color: white;
    
}
.d-flex {
    float: inline-end;
    margin-left: 600px;
}
#inputRecherche {
    
    border: 2px solid darkblue;
    border-radius: 4px;
    height: 30px;
    width: 400px;
    padding-left: 10px;
    margin-left: -130px;
    
    
}
.notif{
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: rgb(181, 208, 255);
    border: 2px solid darkblue;
    
}
.btnRecherche {
    background-color: darkblue;
    border: none;
    color: white;
    border-radius: 4px;
    height: 30px;
    width: 120px;
    
    
}
.btnRecherche:hover{
    background-color: aqua;
    color: black;
}
.trMedocTble {
    background-color: #86e89b;
    /* width: 1300px; */
}
.trMedocTble th {
    width: 1300px;
    height: 40px;
}
.titre{
    cursor:pointer;
    color: rgb(43, 209, 201);
    text-align: center;
     position: fixed; 
    margin-left: 590px;
    animation:  titre 4s linear infinite;
}
/* @keyframes titre{
    100%{
        filter:hue-rotate(100deg);
        color: rgb(187, 238, 233);
    }
} */


.tblrup {
    margin-left: 150px;
}
#medicaments , #enter , #AchatsVidy , #plusVendu ,#rupture {
    text-align: center;
    margin-left: 10px;
    margin-right: 50px;
    border-collapse: collapse;
    height: 100px;
    border-left: solid  #28a745;
    border-right: solid  #28a745;
    
    /* width: 1350px; */
}
#medicaments {
    margin-left: 145px;
}
#Edit , .btnSupprimer { 
    border-radius: 4px;
    height: 30px;
    width: 100px;
    margin: 10px 0px 5px 660px;
    margin: 2px;
} 
.tbl tr td , .tblRupture tr td {
    border-bottom: 1px solid rgb(129, 129, 129);
    
}
.tbl {
    
    border-left: 4px solid black;
    background-color: rgb(243, 243, 254);

}
#btn1 {
    border: 2px solid rgb(177, 177, 3);
    border-radius: 4px;
    height: 30px;
    width: 100px;
    margin: 10px 0px 5px 660px;
    background-color: rgb(105, 232, 113);
    position: fixed;
    border-color: #28a745;
    top: 0;

}
#btn1:hover{
    background-color: aqua;
}
.active {
    color: darkblue;
}
.ExporPdf {
    border: 2px solid rgb(1, 102, 1);
    
    border-radius: 4px;
    height: 30px;
    width: 120px;
    margin: 10px 0px 5px 770px;
    
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(167, 233, 191);
    
}

.Rupture , .Plusvendu , .recette {
   border: 2px solid rgb(125, 83, 0);
   background-color: rgb(255, 240, 215);
   color: black;
   width: 250px;
   height: 70px;
   border-radius: 4px;
   margin: 2px 20px;
}
.tblRupture {
    border-collapse: collapse;
    width: 580px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}
.tblRupture tr th {
    height: 40px;
    background-color: white;
}
.tblRupture tr{
    height: 40px;
}
.navbarAll {
    position: fixed;
    height: 80px;
    width: 100%;
    align-items: center;
    margin-top: -55px;
  
}

.logo {
    margin-left: 40px;
    color: darkblue;
    font-size: 25px;

}
.navbarAll div {
    display: flex;
    background-color: #28a745;
    height: 50px;
    align-items: center;
    text-align: center;

}
#mynavbar ul {
    display: flex;
    margin-left: 20px;
    background-color: #28a745;

}
#mynavbar li{
    list-style: none;
    margin-left: 20px;
   
}
.nav-link {
    color: whitesmoke;
    border: none;
    background-color: #28a745;
}

.nav-link:hover {
    text-decoration: underline;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content1 {
    background-color: white; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
}

.close {
    color: red;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: darkred;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

.btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.btn2 {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.btn2:hover {
    background-color: #218838;
}

.btn:hover {
    background-color: #218838;
}

/* Fond de la boîte modale */
.modal2 {
    display: none; /* Cachée par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
    justify-content: center;
    align-items: center;
}

/* Contenu de la boîte */
.modal-content2 {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Boutons */
.modal-buttons2 {
    margin-top: 20px;
}

.modal-buttons2 button, .modal-buttons2 a {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

#cancel-btn {
    background: #ccc;
    color: black;
}

#confirm-delete {
    background: red;
    color: white;
}