<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entree</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <form id="ajouterMedic" action="ajouterMedic">
        <h1 class="titleAjouter">Ajouter d'Achat</h1>
        <div>
            <label id="labelMedic" for="design">Numero d'Achat:</label>
            <input style="margin: 10px 0px 0px 70px;" id="inputMedicAjou" type="text" required>
        </div>
        <div>
            <label id="labelMedic" for="numMedic">Numero de Medicament:</label>
            <input style="margin: 10px 0px 0px 20px;" id="inputMedicAjou" type="text" required>
        </div>
        <div>
            <label id="labelMedic" for="design">Nom du Client:</label>
            <input style="margin: 10px 0px 0px 91px;" id="inputMedicAjou" type="text" required>
        </div>
        <div>
            <label id="labelMedic" for="design">Nombre d'Achat:</label>
            <input style="margin: 10px 0px 0px 71px;" id="inputMedicAjou" type="number" required>
        </div>
        <div>
            <label id="labelMedic" for="PU">Date d'Achat:</label>
            <input id="inputMedicAjou" type="date" required style="margin: 10px 0px 0px 166px;">
        </div>
        
        <div style="margin: 20px 0px 0px 200px;">
            <button onclick="window.open('tableAchat.html')" style="border: 2px solid rgb(177, 177, 3); background-color: rgb(248, 248, 202);" id="Edit">Ajouter</button>
            <button style="background-color: rgb(255, 189, 189); border: 2px solid rgb(158, 3, 3);" id="Delete">Supprimer</button>
        </div>
    </form>
</body>
</html>